logs
*.log
npm-debug.log*
.eslintcache
.cspellcache

/coverage
/dist
/local
/reports
/node_modules
/test/fixtures/\[special\$directory\]
/test/outputs
/test/bundled

.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
