logs
*.log
npm-debug.log*
.eslintcache

/coverage
/dist
/local
/reports
/node_modules
/test/fixtures/\[special\?directory\]

.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
